.breadcrumbs
    a(href="#") Главная
    a(href="#") Спецпредложения

h1.main-title.main-title_action Спецпредложения на квартиры от застройщика!

.action-table
    table(cellspacing="0")
        tr
            td 
                .table-item.table-item_left
                    span Тип квартиры
                    span.table-icon
                        img(src="img/filter-icon.png")
            td 
                .table-item
                    span № кв.
                    span.table-icon
                        img(src="img/filter-icon.png")      
            td 
                .table-item
                    span Этаж
                    span.table-icon
                        img(src="img/filter-icon.png") 
            td 
                .table-item
                    span 
                        |Площадь, м
                        sup 2
                    span.table-icon
                        img(src="img/filter-icon.png")
            td
                .table-item
                    span
                        |Жилая, м
                        sup 2
                    span.table-icon
                        img(src="img/filter-icon.png")
            td 
                .table-item
                    span 
                        |Кухня
                        sup 2
                    span.table-icon
                        img(src="img/filter-icon.png")
            td
                .table-item
                    span 
                        |Прихожая, м
                        sup 2
                    span.table-icon
                        img(src="img/filter-icon.png")
            td 
                .table-item
                    span 
                        |Санузел, м
                        sup 2
                    span.table-icon
                        img(src="img/filter-icon.png")
            td
                .table-item
                    span 
                        |Лоджия, м
                        sup 2
                    span.table-icon
                        img(src="img/filter-icon.png")
            td
                .table-item 
                    span 
                        |Цена за, м
                        sup 2
                    span.table-icon
                        img(src="img/filter-icon.png")
            td
                .table-item 
                    span 
                        |Цена за квартиру
                    span.table-icon
                        img(src="img/filter-icon.png")
        tr
            td
                a(href="#")
                    b 
                        i Однокомнатная квартира
                    span Красногорск, ул. Народного Ополчения, д. 2б
            td
                b 95
            td
                b 9
            td
                b 33
            td
                b 25,2
            td
                b 8
            td
                b 4,3
            td
                b 3,1
            td
                b 3,8
            td
                b 107 000 руб.
            td
                b 3 465 000 руб.
                
        tr
            td
                a(href="#")
                    b 
                        i Двухкомнатная квартира
                    span Красногорск, ул. Народного Ополчения, д. 2б
            td
                b 95
            td
                b 9
            td
                b 33
            td
                b 25,2
            td
                b 8
            td
                b 4,3
            td
                b 3,1
            td
                b 3,8
            td
                b 107 000 руб.
            td
                b 3 465 000 руб.
                
        tr
            td
                a(href="#")
                    b 
                        i Двухкомнатная квартира
                    span Красногорск, ул. Народного Ополчения, д. 2б
            td
                b 95
            td
                b 9
            td
                b 33
            td
                b 25,2
            td
                b 8
            td
                b 4,3
            td
                b 3,1
            td
                b 3,8
            td
                b 107 000 руб.
            td
                b 3 465 000 руб.
                
        tr
            td
                a(href="#")
                    b
                        i Двухкомнатная квартира
                    span Красногорск, ул. Народного Ополчения, д. 2б
            td
                b 95
            td
                b 9
            td
                b 33
            td
                b 25,2
            td
                b 8
            td
                b 4,3
            td
                b 3,1
            td
                b 3,8
            td
                b 107 000 руб.
            td
                b 3 465 000 руб.
                
        tr
            td
                a(href="#")
                    b 
                        i Трехкомнатная квартира
                    span Красногорск, ул. Народного Ополчения, д. 2б
            td
                b 95
            td
                b 9
            td
                b 33
            td
                b 25,2
            td
                b 8
            td
                b 4,3
            td
                b 3,1
            td
                b 3,8
            td
                b 107 000 руб.
            td
                b 3 465 000 руб.
                
        tr
            td
                a(href="#")
                    b 
                        i Трехкомнатная квартира
                    span Красногорск, ул. Народного Ополчения, д. 2б
            td
                b 95
            td
                b 9
            td
                b 33
            td
                b 25,2
            td
                b 8
            td
                b 4,3
            td
                b 3,1
            td
                b 3,8
            td
                b 107 000 руб.
            td
                b 3 465 000 руб.             
                      
        tr
            td
                a(href="#")
                    b 
                        i Однокомнатная квартира
                    span Красногорск, ул. Народного Ополчения, д. 2б
            td
                b 95
            td
                b 9
            td
                b 33
            td
                b 25,2
            td
                b 8
            td
                b 4,3
            td
                b 3,1
            td
                b 3,8
            td
                b 107 000 руб.
            td
                b 3 465 000 руб.
                
        tr
            td
                a(href="#")
                    b 
                        i Однокомнатная квартира
                    span Красногорск, ул. Народного Ополчения, д. 2б
            td
                b 95
            td
                b 9
            td
                b 33
            td
                b 25,2
            td
                b 8
            td
                b 4,3
            td
                b 3,1
            td
                b 3,8
            td
                b 107 000 руб.
            td
                b 3 465 000 руб.
