.breadcrumbs
    a(href="#") Главная
    a(href="#") О проекте

h1.main-title.main-title_finish О проекте ЖК «Брусчатый посёлок»

.finish-cont.finish-cont_about
    .finish-cont__item.finish-cont__item_pd
        .inner-text
            p 
                b «БРУСЧАТЫЙ ПОСЕЛОК» 
                |- современный жилой комплекс, который строится в историческом центре Красногорска, в окружении великолепных лесопарковых зон, обеспечивающих не только комфортное проживание, но и прекрасную экологическую обстановку.

        ul.about-list
            li
                .about-list__img
                    img(src="img/el-1.png")
                .about-list__title 2,5 км
                .about-list__article от Москвы
            li
                .about-list__img
                    img(src="img/el-2.png")
                .about-list__title.about-list__title_green 3 парковых
                .about-list__article зона отдыха
            li
                .about-list__img
                    img(src="img/el-3.png")
                .about-list__title.about-list__title_green Развитая
                .about-list__article инфраструктура
                    
        .finish-cont__btn-wrap.finish-cont__btn-wrap_about
            a(href="#").action-slider__btn.action-slider__btn_pink Выбрать квартиру

    .finish-cont__item
        .cont-slider.swiper-container
            .swiper-wrapper
                .swiper-slide
                    img(src="img/about-sl-1.jpg")
                .swiper-slide
                    img(src="img/about-sl-1.jpg")
                .swiper-slide
                    img(src="img/about-sl-1.jpg")

            .swiper-button-next
            .swiper-button-prev
            .swiper-pagination.swiper-pagination_white

    .finish-cont__item
        .cont-slider.swiper-container
            .swiper-wrapper
                .swiper-slide
                    img(src="img/about-sl-2.jpg")
                .swiper-slide
                    img(src="img/about-sl-2.jpg")
                .swiper-slide
                    img(src="img/about-sl-2.jpg")

            .swiper-button-next
            .swiper-button-prev
            .swiper-pagination.swiper-pagination_white

    .finish-cont__item.finish-cont__item_pd.finish-cont__item_last.finish-cont__item_about
        .inner-text
            p В шаговой доступности от жилого комплекса находится великолепный, обновленный Губайловский эко-парк. 32 гектара леса, 6 километров освещаемых пешеходных дорожек, детские и спортивные площадки, в том числе, для маломобильных групп населения, площадки для воркаута и маунтинбайка, комнаты матери и ребенка, площадки для выгула и дрессировки собак. Здесь же расположен детский городок «Лесная Сказка», Красногорский городской парк. 
            p ЖК «БРУСЧАТЫЙ ПОСЕЛОК» окружен объектами, составляющими спортивный кластер Красногорска: спортивный комплекс «Зоркий», плавательный бассейн, Академия хоккея им. Владимира Петрова, лыжный стадион, всесезонный горнолыжный комплекс «Снеж.ком», филиал Академии тенниса Шамиля Тарпищева.

            h2.inner-text__title Жилой комплекс «БРУСЧАТЫЙ ПОСЕЛОК» является участником программы Правительства Московской области «Безопасный регион».

            p Проект застройки ЖК «БРУСЧАТЫЙ ПОСЕЛОК» предполагает тщательно продуманное развитие собственной инфраструктуры и прилегающей территории. На территории жилого комплекса предусмотрено строительство детского сада, поликлиники, открытие отделений банков, магазина эко-продуктов, прачечной, химчистки, семейного кафе и других объектов социально-бытового и культурного назначения. Украшением территории комплекса будет авторский ландшафтный дизайн, удобные и безопасные детские площадки, и современная система освещения.

.sertificat
    .sertificat__title Сертификаты
    .sertificat-slider-wrap
        .sertificat-slider.swiper-container
            .swiper-wrapper
                .swiper-slide
                    .sertificat-slider__img
                        img(src="img/ser-1.jpg")
                            
                .swiper-slide
                    .sertificat-slider__img
                        img(src="img/ser-2.jpg")
                            
                .swiper-slide
                    .sertificat-slider__img
                        img(src="img/ser-3.jpg")
                            
                .swiper-slide
                    .sertificat-slider__img
                        img(src="img/ser-1.jpg")
                            
                .swiper-slide
                    .sertificat-slider__img
                        img(src="img/ser-3.jpg")
                            
                .swiper-slide
                    .sertificat-slider__img
                        img(src="img/ser-1.jpg")
                                        
            .swiper-pagination
        
        .swiper-button-next.swiper-button-next-doc
        .swiper-button-prev.swiper-button-prev-doc

.map-block
    h2.main-title ЖК расположен в самом центре Красногорска - рядом вся инфраструктура

    .infrastructure_wrapperMap
        .infrastructure_fillter
            ul.infrastructure_list
                li
                    button.infrastructure_item(data-group="shop")
                        .infrastructure_icon.infrastructure_icon-shop
                            img(src="img/small_group_14.png")
                        .infrastructure_subtitle
                            |Магазины

                li
                    button.infrastructure_item(data-group="med")
                        .infrastructure_icon.infrastructure_icon-med
                            img(src="img/small_group_15.png")
                        .infrastructure_subtitle Поликлиники / Больницы


                li
                    button.infrastructure_item(data-group="kids")
                        .infrastructure_icon.infrastructure_icon-kids
                            img(src="img/small_group_16.png")
                        .infrastructure_subtitle Детские сады


                li
                    button.infrastructure_item(data-group="shcool")
                        .infrastructure_icon.infrastructure_icon-shcool
                            img(src="img/small_group_17.png")
                        .infrastructure_subtitle Школы / ВУЗы

                li
                    button.infrastructure_item(data-group="park")
                        .infrastructure_icon.infrastructure_icon-park
                            img(src="img/small_group_18.png")
                        .infrastructure_subtitle Парки 

                li
                    button.infrastructure_item(data-group="food")
                        .infrastructure_icon.infrastructure_icon-food
                            img(src="img/small_group_19.png")
                        .infrastructure_subtitle Кафе / Бары

                li
                    button.infrastructure_item(data-group="bank")
                        .infrastructure_icon.infrastructure_icon-bank
                            img(src="img/small_group_20.png")
                        .infrastructure_subtitle Банки

                li
                    button.infrastructure_item(data-group="sport")
                        .infrastructure_icon.infrastructure_icon-sport
                            img(src="img/small_group_21.png")
                        .infrastructure_subtitle Фитнес залы

            .infrastructure_control
                button.infrastructure_btn.infrastructure_btnShow.active Показать все
                button.infrastructure_btn.infrastructure_btnHide Скрыть все
        #map(data-latlag="55.834977,37.317508" data-markers="/infrastructure/place.json" style="position:relative;")

.const-progress.const-progress_about
    h2.main-title Ход строительства
    .const-slider.swiper-container
        .swiper-wrapper
            .swiper-slide
                .const-slider__item
                    .const-slider__img
                        img(src="img/c1.jpg")    
                        .const-slider__article Октябрь 2019

            .swiper-slide
                .const-slider__item
                    .const-slider__img
                        img(src="img/c2.jpg")    
                        .const-slider__article Сентябрь 2019

            .swiper-slide
                .const-slider__item
                    .const-slider__img
                        img(src="img/c3.jpg")    
                        .const-slider__article Август 2019 

            .swiper-slide
                .const-slider__item
                    .const-slider__img
                        img(src="img/c4.jpg")    
                        .const-slider__article Июль 2019

            .swiper-slide
                .const-slider__item
                    .const-slider__img
                        img(src="img/c5.jpg")    
                        .const-slider__article Июнь 2019 

            .swiper-slide
                .const-slider__item
                    .const-slider__img
                        img(src="img/c6.jpg")    
                        .const-slider__article Май 2019               
        .swiper-pagination
        .swiper-button-next
        .swiper-button-prev

form.recept-form
    .form-action
        .form-action__inner
            .form-action__date Только до 31 октября!
            ul.form-action__list
                li
                    |Квартиры от
                li
                    ul.form-action__price
                        li
                            |3,39
                        li
                            |млн <br>
                            |руб.       

    .recept-form__main
        .recept-form__title Запишитесь на просмотр квартиры!

        ul.recept-form__inner
            li
                span.recept-form__list-title Офис застройщика работает ежедневно, без выходных:
                ul.recept-form__list
                    li
                        |C понедельника по пятницу с 9:00 до 21:00
                    li   
                        |суббота и воскресенье с 10:00 до 17:00
                    li
                        |Записаться можно по телефону:  
                        b +7(495) 123-45-67 
                        |или онлайн
            li.form-action__inp-block
                input(type="text" placeholder="Имя").inp.recept-form__inp
                input(type="text" placeholder="Телефон").inp.recept-form__inp.phone-inp
                button(type="submit").form-btn Отправить заявку
                .checkbox-block.recept-form__check
                    input(type="checkbox" id="check" checked)
                    label(for="check") Я согласен на обработку<br> персональных данных        
