include ./breadcrumbs.pug
.content-wrap
    .sidebar
        form(action="#").filter
            .select-custom
                select
                    option Корпус №8
                    option Корпус №7

            .filter-title Количество комнат

            ul.filter-rooms
                li.filter-rooms__item
                    span 1
                li.filter-rooms__item
                    span 2
                li.filter-rooms__item
                    span 3            

            .filter-title Этаж

            ul.filter-floor
                li
                    label
                        input(type="text")
                li
                    label
                        input(type="text")

            .filter-title 
                |Площадь м
                sup 2

            ul.filter-square
                li
                    label
                        input(type="text")
                li
                    label
                        input(type="text")

            ul.filter-switch
                li
                    |Только с отделкой
                li
                    input(type="checkbox").switch#s3
                    label.slider-v2(for="s3") 

            ul.filter-switch
                li
                    |Квартиры по акции
                li
                    input(type="checkbox").switch#s4
                    label.slider-v2(for="s4") 

            .filter-title Стоимость, &#8381;

            ul.filter-range
                li
                    .result-polzunok#result-polzunok
                li
                    #polzunok
                
            .filter-title.filter-title_bold Вид из окон
            
            ul.filter-check 
                li.checkbox-block.filter__checkbox
                    input(type="radio" name="filter-radio" checked)#yard
                    label(for="yard") Во двор
                li.checkbox-block.filter__checkbox
                    input(type="radio" name="filter-radio")#street
                    label(for="street") На ул. Народного Ополчения
                li.checkbox-block.filter__checkbox
                    input(type="radio" name="filter-radio")#center
                    label(for="center") На Центральный проезд

            ul.filter-btns
                li
                    button(type="submit").filter-btn.filter-btn_red Показать 25 квартир
                li
                    button(type="button").filter-btn.filter-btn_white Сбросить фильтры    
    .content-cat
        .content-cat__top
            h1.main-title Однокомнатные квартиры в Красногорске
            a(href="#").plan-select__btn.plan-select__btn_genplan.plan-select__btn_inner Выбрать на генплане
            a(href="#").plan-select__btn.plan-select__shahmat.plan-select__btn_inner Выбрать на шахматке
        
        .catalog-wrapper
            .catalog.swiper-container.swiper-container_catalog
                .swiper-wrapper.swiper-wrapper_catalog
                    .swiper-slide
                        a(href="#").catalog__item
                            .catalog__title
                                |1-комнатная квартира №42
                            
                            .catalog__img
                                img(src="img/cat-img.png")
                            
                            ul.catalog__list
                                li
                                    span Общая площадь:
                                    span 
                                        b 33 м
                                            sup 2
                                li
                                    span Этаж:
                                    span 
                                        b 33 м
                                            sup 2
                                li
                                    span Стоимость:
                                    span.catalog__price 3 498 000 руб. 
                    .swiper-slide
                        a(href="#").catalog__item
                            .catalog__title
                                |1-комнатная квартира №42
                            
                            .catalog__img
                                img(src="img/cat-img.png")
                            
                            ul.catalog__list
                                li
                                    span Общая площадь:
                                    span 
                                        b 33 м
                                            sup 2
                                li
                                    span Этаж:
                                    span 
                                        b 33 м
                                            sup 2
                                li
                                    span Стоимость:
                                    span.catalog__price 3 498 000 руб.                 
                    .swiper-slide
                        a(href="#").catalog__item
                            .catalog__title
                                |1-комнатная квартира №42
                            
                            .catalog__img
                                img(src="img/cat-img.png")
                            
                            ul.catalog__list
                                li
                                    span Общая площадь:
                                    span 
                                        b 33 м
                                            sup 2
                                li
                                    span Этаж:
                                    span 
                                        b 33 м
                                            sup 2
                                li
                                    span Стоимость:
                                    span.catalog__price 3 498 000 руб.             
                    .swiper-slide
                        a(href="#").catalog__item
                            .catalog__title
                                |1-комнатная квартира №42
                            
                            .catalog__img
                                img(src="img/cat-img.png")
                            
                            ul.catalog__list
                                li
                                    span Общая площадь:
                                    span 
                                        b 33 м
                                            sup 2
                                li
                                    span Этаж:
                                    span 
                                        b 33 м
                                            sup 2
                                li
                                    span Стоимость:
                                    span.catalog__price 3 498 000 руб.                           
                    .swiper-slide
                        a(href="#").catalog__item
                            .catalog__title
                                |1-комнатная квартира №42
                            
                            .catalog__img
                                img(src="img/cat-img.png")
                            
                            ul.catalog__list
                                li
                                    span Общая площадь:
                                    span 
                                        b 33 м
                                            sup 2
                                li
                                    span Этаж:
                                    span 
                                        b 33 м
                                            sup 2
                                li
                                    span Стоимость:
                                    span.catalog__price 3 498 000 руб. 
                    .swiper-slide
                        a(href="#").catalog__item
                            .catalog__title
                                |1-комнатная квартира №42
                            
                            .catalog__img
                                img(src="img/cat-img.png")
                            
                            ul.catalog__list
                                li
                                    span Общая площадь:
                                    span 
                                        b 33 м
                                            sup 2
                                li
                                    span Этаж:
                                    span 
                                        b 33 м
                                            sup 2
                                li
                                    span Стоимость:
                                    span.catalog__price 3 498 000 руб. 
                    .swiper-slide
                        a(href="#").catalog__item
                            .catalog__title
                                |1-комнатная квартира №42
                            
                            .catalog__img
                                img(src="img/cat-img.png")
                            
                            ul.catalog__list
                                li
                                    span Общая площадь:
                                    span 
                                        b 33 м
                                            sup 2
                                li
                                    span Этаж:
                                    span 
                                        b 33 м
                                            sup 2
                                li
                                    span Стоимость:
                                    span.catalog__price 3 498 000 руб. 
                    .swiper-slide
                        a(href="#").catalog__item
                            .catalog__title
                                |1-комнатная квартира №42
                            
                            .catalog__img
                                img(src="img/cat-img.png")
                            
                            ul.catalog__list
                                li
                                    span Общая площадь:
                                    span 
                                        b 33 м
                                            sup 2
                                li
                                    span Этаж:
                                    span 
                                        b 33 м
                                            sup 2
                                li
                                    span Стоимость:
                                    span.catalog__price 3 498 000 руб. 
                    .swiper-slide
                        a(href="#").catalog__item
                            .catalog__title
                                |1-комнатная квартира №42
                            
                            .catalog__img
                                img(src="img/cat-img.png")
                            
                            ul.catalog__list
                                li
                                    span Общая площадь:
                                    span 
                                        b 33 м
                                            sup 2
                                li
                                    span Этаж:
                                    span 
                                        b 33 м
                                            sup 2
                                li
                                    span Стоимость:
                                    span.catalog__price 3 498 000 руб. 
                    .swiper-slide
                        a(href="#").catalog__item
                            .catalog__title
                                |1-комнатная квартира №42
                            
                            .catalog__img
                                img(src="img/cat-img.png")
                            
                            ul.catalog__list
                                li
                                    span Общая площадь:
                                    span 
                                        b 33 м
                                            sup 2
                                li
                                    span Этаж:
                                    span 
                                        b 33 м
                                            sup 2
                                li
                                    span Стоимость:
                                    span.catalog__price 3 498 000 руб. 
            
                .swiper-button-next
            
            .swiper-pagination-catalog
        
        .inner-text.catalog__inner-text
            p Однокомнатные квартиры и студии сегодня находится на пике популярности. Самые выгодные предложения представлены в ближнем Подмосковье, где ведется активная многоэтажная застройка. Небольшое расстояние от столицы и налаженное транспортное сообщение делают однокомнатные квартиры реальной альтернативой дорогостоящему московскому жилью. 
            p ООО «Факт» выступает застройщиком ЖК «Брусчатый поселок» в городе Красногорске в Подмосковье. Мы работаем без посредников, поэтому у нас можно купить жилье действительно недорого.
            
            h2.inner-title Плюсы расположения домов:
            
            ul.page-list
                li находятся в 2,5 километрах от Москвы;
                li окружены лесопарковыми зонами;
                li находятся в месте с развитой инфраструктурой. 
                
            h2.inner-title Параметры однокомнатных квартир от застройщика
            
            p Покупателям предлагается большой выбор продуманных и комфортных планировок, которые можно изменить под свой уникальный интерьер. Из окон однокомнатных квартир открываются изумительные виды. Площадь недвижимости составляет от 33 до 48,2 квадратных метров. Также покупатели могут выбрать подходящий этаж — со 2 по 17. 
            p Цены на однушки начинаются с 3,1 миллионов рублей. При этом возможна полная оплата стоимости, оформление в рассрочку или ипотеку. Кредитование доступно в банках ВТБ, Сбербанке, «МКБ», «Возрождение» и «Дом РФ». Покупатели могут выбрать наиболее подходящие для себя условия. 
            p Не можете выбрать однокомнатную квартиру в Московской области или ипотечную программу? Наши сотрудники помогут определиться и оформить сделку.

form.recept-form
    .form-action
        .form-action__inner
            .form-action__date Только до 31 октября!
            ul.form-action__list
                li
                    |Квартиры от
                li
                    ul.form-action__price
                        li
                            |3,39
                        li
                            |млн <br>
                            |руб.       

    .recept-form__main
        .recept-form__title Запишитесь на просмотр квартиры!

        ul.recept-form__inner
            li
                span.recept-form__list-title Офис застройщика работает ежедневно, без выходных:
                ul.recept-form__list
                    li
                        |C понедельника по пятницу с 9:00 до 21:00
                    li   
                        |суббота и воскресенье с 10:00 до 17:00
                    li
                        |Записаться можно по телефону:  
                        b +7(495) 123-45-67 
                        |или онлайн
            li.form-action__inp-block
                input(type="text" placeholder="Имя").inp.recept-form__inp
                input(type="text" placeholder="Телефон").inp.recept-form__inp.phone-inp
                button(type="submit").form-btn Отправить заявку
                .checkbox-block.recept-form__check
                    input(type="checkbox" id="check" checked)
                    label(for="check") Я согласен на обработку<br> персональных данных            
