.breadcrumbs
    a(href="#") Главная
    a(href="#") Спецпредложения

h1.main-title.main-title_action Спецпредложения на квартиры от застройщика!

.action-table
    table(cellspacing="0")
        tr
            td 
                .table-item.table-item_left
                    span Тип квартиры
                    span.table-icon
                        img(src="img/filter-icon.png")
            td 
                .table-item
                    span № кв.
                    span.table-icon
                        img(src="img/filter-icon.png")      
            td 
                .table-item
                    span Этаж
                    span.table-icon
                        img(src="img/filter-icon.png") 
            td 
                .table-item
                    span 
                        |Площадь, м
                        sup 2
                    span.table-icon
                        img(src="img/filter-icon.png")
            td
                .table-item
                    span
                        |Жилая, м
                        sup 2
                    span.table-icon
                        img(src="img/filter-icon.png")
            td 
                .table-item
                    span 
                        |Кухня
                        sup 2
                    span.table-icon
                        img(src="img/filter-icon.png")
            td
                .table-item
                    span 
                        |Прихожая, м
                        sup 2
                    span.table-icon
                        img(src="img/filter-icon.png")
            td 
                .table-item
                    span 
                        |Санузел, м
                        sup 2
                    span.table-icon
                        img(src="img/filter-icon.png")
            td
                .table-item
                    span 
                        |Лоджия, м
                        sup 2
                    span.table-icon
                        img(src="img/filter-icon.png")
            td
                .table-item 
                    span 
                        |Цена за, м
                        sup 2
                    span.table-icon
                        img(src="img/filter-icon.png")
            td
                .table-item 
                    span 
                        |Цена за квартиру
                    span.table-icon
                        img(src="img/filter-icon.png")
        tr
            td
                a(href="#")
                    b 
                        i Однокомнатная квартира
                    span Красногорск, ул. Народного Ополчения, д. 2б
            td
                b 95
            td
                b 9
            td
                b 33
            td
                b 25,2
            td
                b 8
            td
                b 4,3
            td
                b 3,1
            td
                b 3,8
            td
                b 107 000 руб.
            td
                b 3 465 000 руб.

        tr
            td
                a(href="#")
                    b 
                        i Двухкомнатная квартира
                    span Красногорск, ул. Народного Ополчения, д. 2б
            td
                b 95
            td
                b 9
            td
                b 33
            td
                b 25,2
            td
                b 8
            td
                b 4,3
            td
                b 3,1
            td
                b 3,8
            td
                b 107 000 руб.
            td
                b 3 465 000 руб.

        tr
            td
                a(href="#")
                    b 
                        i Двухкомнатная квартира
                    span Красногорск, ул. Народного Ополчения, д. 2б
            td
                b 95
            td
                b 9
            td
                b 33
            td
                b 25,2
            td
                b 8
            td
                b 4,3
            td
                b 3,1
            td
                b 3,8
            td
                b 107 000 руб.
            td
                b 3 465 000 руб.

        tr
            td
                a(href="#")
                    b
                        i Двухкомнатная квартира
                    span Красногорск, ул. Народного Ополчения, д. 2б
            td
                b 95
            td
                b 9
            td
                b 33
            td
                b 25,2
            td
                b 8
            td
                b 4,3
            td
                b 3,1
            td
                b 3,8
            td
                b 107 000 руб.
            td
                b 3 465 000 руб.

        tr
            td
                a(href="#")
                    b 
                        i Трехкомнатная квартира
                    span Красногорск, ул. Народного Ополчения, д. 2б
            td
                b 95
            td
                b 9
            td
                b 33
            td
                b 25,2
            td
                b 8
            td
                b 4,3
            td
                b 3,1
            td
                b 3,8
            td
                b 107 000 руб.
            td
                b 3 465 000 руб.

        tr
            td
                a(href="#")
                    b 
                        i Трехкомнатная квартира
                    span Красногорск, ул. Народного Ополчения, д. 2б
            td
                b 95
            td
                b 9
            td
                b 33
            td
                b 25,2
            td
                b 8
            td
                b 4,3
            td
                b 3,1
            td
                b 3,8
            td
                b 107 000 руб.
            td
                b 3 465 000 руб.             

        tr
            td
                a(href="#")
                    b 
                        i Однокомнатная квартира
                    span Красногорск, ул. Народного Ополчения, д. 2б
            td
                b 95
            td
                b 9
            td
                b 33
            td
                b 25,2
            td
                b 8
            td
                b 4,3
            td
                b 3,1
            td
                b 3,8
            td
                b 107 000 руб.
            td
                b 3 465 000 руб.

        tr
            td
                a(href="#")
                    b 
                        i Однокомнатная квартира
                    span Красногорск, ул. Народного Ополчения, д. 2б
            td
                b 95
            td
                b 9
            td
                b 33
            td
                b 25,2
            td
                b 8
            td
                b 4,3
            td
                b 3,1
            td
                b 3,8
            td
                b 107 000 руб.
            td
                b 3 465 000 руб.

.action-wrap
    h2.main-title.main-title_red Акции ЖК «Брусчатый поселок»
    
    .action-slider-wrap
        .action-slider.swiper-container
            .swiper-wrapper.swiper-wrapper_action
                .swiper-slide.swiper-slide_action
                    .action-slider__item
                        .proc-img
                            img(src="img/proc.png")

                        .action-slider__title 
                            span беспроцентная
                            
                        .action-slider__article 
                            span 
                                i рассрочка <br>
                                |от 3 до 6 месяцев
                        
                        .action-slider__btn-wrap
                            a(href="#").action-slider__btn Выбрать банк
                    
                .swiper-slide.swiper-slide_action
                    .action-slider__item.action-slider__item_discount
                        .action-slider__about.action-slider__about_top Вместе дешевле!
                        .action-slider__top При покупке 2-ух квартир
                        ul.slider-flats
                            li
                                .slider-flats__img
                                    img(src="img/fl-min-left.png")
                                    .slider-flats__about.slider-flats__about_left
                                        span 1
                                        span комнатная квартира
                            li
                                .slider-flats__img
                                    img(src="img/fl-min-right.png")
                                    .slider-flats__about.slider-flats__about_right
                                        span 2
                                        span комнатная квартира
                            li
                                .action-slider__title 
                                    span Скидка
                                    
                                .slider-flats__article
                                    span.slider-flats__price 3000 руб.
                                    span.slider-flats__size 
                                        |с каждого м
                                        sup 2
                                    
                        .action-slider__about.action-slider__about_big Вместе <br>дешевле!
                        
                        .action-slider__btn-wrap.action-slider__btn-wrap_bg
                            a(href="#").action-slider__btn.action-slider__btn_pink Выбрать квартиру
                        
                .swiper-slide.swiper-slide_action
                    .action-slider__item.action-slider__item_finish
                        .slider-flats__img-big
                            img(src="img/ac-slider-bg.png")
                                
                        .action-slider__title 
                            em Отделка квартиры<br> под ключ
                            b только в октябре!
                        
                        .action-slider__btn-wrap
                            a(href="#").action-slider__btn.action-slider__btn_pink Выбрать квартиру
                            
                .swiper-slide.swiper-slide_action
                    .action-slider__item
                        .proc-img
                            img(src="img/proc.png")

                        .action-slider__title 
                            span беспроцентная
                            
                        .action-slider__article 
                            span 
                                i рассрочка <br>
                                |от 3 до 6 месяцев
                        
                        .action-slider__btn-wrap
                            a(href="#").action-slider__btn Выбрать банк            
                                    
            .swiper-pagination
        .swiper-button-next.swiper-button-next-action
        .swiper-button-prev.swiper-button-prev-action        
                    
form.recept-form
    .form-action
        .form-action__inner
            .form-action__date Только до 31 октября!
            ul.form-action__list
                li
                    |Квартиры от
                li
                    ul.form-action__price
                        li
                            |3,39
                        li
                            |млн <br>
                            |руб.       

    .recept-form__main
        .recept-form__title Запишитесь на просмотр квартиры!

        ul.recept-form__inner
            li
                span.recept-form__list-title Офис застройщика работает ежедневно, без выходных:
                ul.recept-form__list
                    li
                        |C понедельника по пятницу с 9:00 до 21:00
                    li   
                        |суббота и воскресенье с 10:00 до 17:00
                    li
                        |Записаться можно по телефону:  
                        b +7(495) 123-45-67 
                        |или онлайн
            li.form-action__inp-block
                input(type="text" placeholder="Имя").inp.recept-form__inp
                input(type="text" placeholder="Телефон").inp.recept-form__inp.phone-inp
                button(type="submit").form-btn Отправить заявку
                .checkbox-block.recept-form__check
                    input(type="checkbox" id="check" checked)
                    label(for="check") Я согласен на обработку<br> персональных данных
