.breadcrumbs.wow.fadeIn(data-wow-duration="1.5s")
    a(href="#") Главная
    a(href="#") Ипотека

.ipoteca.container.wow.fadeIn(data-wow-duration="1.5s")
    h1.main-title ЖК «Брусчатый посёлок»: новостройки в Красногорске в ипотеку
    .inner-text
        p Комфортные квартиры в зелёном, экологически чистом районе поблизости от Москвы ещё никогда не были такими доступными. Сделать реальностью мечту об уютном жилище в благоустроенном и современном жилом комплексе — проще простого! 
        p Воспользуйтесь выгодными ипотечными предложениями от ведущих российских банков. Выбирайте то, что подходит именно вам:

.action.wow.fadeIn(data-wow-duration="1.5s")  
    .action__inner.container
        .action__item
            .action__img
                img(src="img/an.png")

            .action__article
                .action__title.action__title_lg 
                    |Хотите выгодно купить квартиру в Красногорске? 
                b Для ваc: ипотека от 9 банков, рассрочка от застройщика 0%. Принимаем материнский капитал, субсидии и жилищные сертификаты!        

        .action__call
            span Звоните в отдел продаж! 
            a(href="tel:74951322575") +7 (495) 132-25-75 <br>
            button(type="button").action__btn Записаться на просмотр

.credit-cont.container.wow.fadeIn(data-wow-duration="1.5s")
    ul.credit-list
        li
            .credit-list__img
                img(src="img/sber.png")    
        li
            .credit-list__title Первый взнос
            .credit-list__info от 10%
        li
            .credit-list__title Срок кредита
            .credit-list__info 30 лет
        li
            .credit-list__title Ставка
            .credit-list__info 10%
        li
            a(href="#").credit-list__btn Подать заявку
            
    ul.credit-list
        li
            .credit-list__img
                img(src="img/ab-bank.png")    
        li
            .credit-list__title Первый взнос
            .credit-list__info от 20%
        li
            .credit-list__title Срок кредита
            .credit-list__info 30 лет
        li
            .credit-list__title Ставка
            .credit-list__info 9,74%
        li
            a(href="#").credit-list__btn Подать заявку
            
    ul.credit-list
        li
            .credit-list__img
                img(src="img/voz-bank.png")    
        li
            .credit-list__title Первый взнос
            .credit-list__info от 20%
        li
            .credit-list__title Срок кредита
            .credit-list__info 30 лет
        li
            .credit-list__title Ставка
            .credit-list__info 8,35%
        li
            a(href="#").credit-list__btn Подать заявку
            
    ul.credit-list
        li
            .credit-list__img
                img(src="img/sv-bank.png")
        li
            .credit-list__title Первый взнос
            .credit-list__info от 15%
        li
            .credit-list__title Срок кредита
            .credit-list__info 30 лет
        li
            .credit-list__title Ставка
            .credit-list__info 9,7%
        li
            a(href="#").credit-list__btn Подать заявку
            
    ul.credit-list
        li
            .credit-list__img
                img(src="img/ros-bank.png")    
        li
            .credit-list__title Первый взнос
            .credit-list__info от 15%
        li
            .credit-list__title Срок кредита
            .credit-list__info 25 лет
        li
            .credit-list__title Ставка
            .credit-list__info 10,5%
        li
            a(href="#").credit-list__btn Подать заявку
            
    ul.credit-list
        li
            .credit-list__img
                img(src="img/vtb.png")    
        li
            .credit-list__title Первый взнос
            .credit-list__info от 20%
        li
            .credit-list__title Срок кредита
            .credit-list__info 20 лет
        li
            .credit-list__title Ставка
            .credit-list__info 10,1%
        li
            a(href="#").credit-list__btn Подать заявку
            
    ul.credit-list
        li
            .credit-list__img
                img(src="img/rf-bank.png")    
        li
            .credit-list__title Первый взнос
            .credit-list__info от 15%
        li
            .credit-list__title Срок кредита
            .credit-list__info 30 лет
        li
            .credit-list__title Ставка
            .credit-list__info 6%
        li
            a(href="#").credit-list__btn Подать заявку
            
    ul.credit-list
        li
            .credit-list__img
                img(src="img/mos-bank.png")    
        li
            .credit-list__title Первый взнос
            .credit-list__info от 20%
        li
            .credit-list__title Срок кредита
            .credit-list__info 30 лет
        li
            .credit-list__title Ставка
            .credit-list__info 9,1%
        li
            a(href="#").credit-list__btn Подать заявку
            
    ul.credit-list
        li
            .credit-list__img
                img(src="img/kr-bank.png")    
        li
            .credit-list__title Первый взнос
            .credit-list__info от 10%
        li
            .credit-list__title Срок кредита
            .credit-list__info 30 лет
        li
            .credit-list__title Ставка
            .credit-list__info 10%
        li
            a(href="#").credit-list__btn Подать заявку
            
            
