.breadcrumbs.wow.fadeIn(data-wow-duration="1.5s")
    a(href="#") Главная
    a(href="#") Контакты

.container.wow.fadeIn(data-wow-duration="1.5s")
    h1.main-title.main-title_contacts Контакты
    
    .contacts
        .contacts__item
            .contacts__title Офис продаж:
            
            ul.contacts-list
                li
                    span.contacts__adress.contacts-list__item Красногорск, ул. Народного ополчения, д. 2Б, корп. 2, оф. 16
                li
                    a(href="tel:74950322127").contacts__phone.contacts-list__item +7 (495) 032-21-27
                li
                    a(href="mailto:sale@bruschaty.ru").contacts__email.contacts-list__item 
                        span E-mail: 
                        b sale@bruschaty.ru
                li
                    .contacts__work.contacts-list__item
                        b Пн - Пт 
                        |9:00 до 21:00
                    .contacts__weekend
                        b Сб - Вс 
                        |9:00 до 21:00 
                        
            .contacts__title Адрес объекта:
            
            ul.contacts-list
                li
                    span.contacts__obj.contacts-list__item Красногорск, ул. Народного ополчения, д. 2Б, корп. 2, оф. 16
                li
                    span.contacts__obj-time.contacts-list__item Ежедневно с 09:00 до 21:00 (без перерыва)
                    
            .contacts__title Как проехать:
            
            ul.contacts-list
                li
                    .contacts-travel.contacts-travel_1 От станции метро «Тушинская» до остановки Химчистка в Красногорске - маршрутное такси № 566к
                li
                    .contacts-travel.contacts-travel_2 От станции метро «Митино» до ул. Народного Ополчения в Красногорске - автобусы № 1109, 878, маршрутное такси № 492к
                li
                    .contacts-travel.contacts-travel_3 От ж\д станции «Павшино» до остановки Химчистка в Красногорске - автобусы № 806, 824, 833; маршрутное такси № 806к, 833к
                    
              
                 
        .contacts__item
            .contacts__map-wrap
                ul.contacts__tab
                    li
                        button(type="button" map-data="#office").map-btn.map-btn_adress Офис продаж
                    li
                        button(type="button" map-data="#object").map-btn Адрес объекта
                
                .map-office.map-tab#office
                    
                .map-object.map-tab#object
                    
                          
                        
                        
                        
