.breadcrumbs.wow.fadeIn(data-wow-duration="1.5s")
    a(href="#") Главная
    a(href="#") Отделка

h1.main-title.main-title_finish.wow.fadeIn(data-wow-duration="1.5s") Отделка квартиры под ключ

.finish-cont.wow.fadeIn(data-wow-duration="1.5s")
    .finish-cont__item.finish-cont__item_pd
        h2.inner-text__title В качестве дополнительной опции ЖК «Брусчатый поселок» предлагает Вам отделку квартиры White box:
        ul.finish-cont__list
            li
                |Мы закупаем качественные отделочные материалы оптом у проверенных поставщиков – Вы имеете возможность сэкономить на ремонте.
            li
                |Отсутствие необходимости заниматься закупками самостоятельно.
            li
                |Экономия Вашего времени и быстрое заселение.
            li
                |Отсутствие «черновых» работ в квартире, без строительного мусора, пыли и шума перфоратора.
            li
                |Профессиональная разводка электросиловой линии по всей квартире.
            li
                |Гарантия качества и соблюдение всех сроков.
            li
                |Быстрота воплощений собственного индивидуального дизайна квартиры.
        
        .finish-cont__btn-wrap
            a(href="#").finish-cont__btn Выбрать квартиру с отделкой
        
    .finish-cont__item
        .cont-slider.swiper-container
            .swiper-wrapper
                .swiper-slide
                    img(src="img/finish-slide.jpg")
                .swiper-slide
                    img(src="img/finish-slide.jpg")
                .swiper-slide
                    img(src="img/finish-slide.jpg")
            
            .swiper-button-next
            .swiper-button-prev
            .swiper-pagination
               
    .finish-cont__item.finish-cont__item_banner
        img(src="img/finish-banner.jpg")
               
    .finish-cont__item.finish-cont__item_pd.finish-cont__item_last
        .inner-text
            p Ремонт своими руками – это поиск бригады специалистов, составление плана работ, сметы, «плавающие» сроки сдачи и постоянные непредвиденные расходы. Поэтому Мы предлагаем качественную предчистовую отделку от Застройщика с экономией до 30% Вашего бюджета и 100% экономией Вашего времени.
            p Ремонт своими руками – это поиск бригады специалистов, составление плана работ, сметы, «плавающие» сроки сдачи и постоянные непредвиденные расходы. Поэтому Мы предлагаем качественную предчистовую отделку от Застройщика с экономией до 30% Вашего бюджета и 100% экономией Вашего времени.   
            h2.inner-text__title Три вида отделки квартиры "под ключ" на Ваш выбор.
            p Сейчас нашими дизайнерами разрабатывается несколько вариантов чистовой отделки. Мы делаем акцент на универсальность, долговечность и актуальность дизайна. 
            p Опытные инженеры-дизайнеры предоставят на выбор несколько типовых решений и предложат создание своего индивидуального проекта именно для Вас.
                          
form.recept-form.wow.fadeIn(data-wow-duration="1.5s" data-wow-offset="20")
    .form-action
        .form-action__inner
            .form-action__date Только до 31 октября!
            ul.form-action__list
                li
                    |Квартиры от
                li
                    ul.form-action__price
                        li
                            |3,39
                        li
                            |млн <br>
                            |руб.       

    .recept-form__main
        .recept-form__title Запишитесь на просмотр квартиры!

        ul.recept-form__inner
            li
                span.recept-form__list-title Офис застройщика работает ежедневно, без выходных:
                ul.recept-form__list
                    li
                        |C понедельника по пятницу с 9:00 до 21:00
                    li   
                        |суббота и воскресенье с 10:00 до 17:00
                    li
                        |Записаться можно по телефону:  
                        b +7(495) 123-45-67 
                        |или онлайн
            li.form-action__inp-block
                input(type="text" placeholder="Имя").inp.recept-form__inp
                input(type="text" placeholder="Телефон").inp.recept-form__inp.phone-inp
                button(type="submit").form-btn Отправить заявку
                .checkbox-block.recept-form__check
                    input(type="checkbox" id="check" checked)
                    label(for="check") Я согласен на обработку<br> персональных данных        
                        
                        
