.banner-slider__wrap
    ul.btn-block
        li
            a(href="#").btn-icon.btn-icon_yellow Выбрать квартиру
        li
            a(href="#").btn-icon.btn-icon_green Выбрать на генплане
        li
            a(href="#").btn-icon.btn-icon_purple Аэрофотосъемка

    a(href="#").banner-action
        .tooltip.banner-action__tooltip
            .tooltip__inner
                span Акция! Квартиры от 3,39 млн.руб.
        .banner-action__img
            img(src="img/action-img.png")         
        .logo-mob.banner-action__logo
            .logo-mob__img
                img(src="img/logo-white.png")
            ul.logo-mob__article
                li
                    |брусчатый <br>поселок
                li
                    |жилой комплекс  
    .banner-slider.swiper-container


        .swiper-wrapper
            .swiper-slide
                .banner-slider__item
                    .banner-slider__text
                        .banner-slider__title
                            |ЖК «БРУСЧАТЫЙ ПОСЁЛОК» в Красногорске
                        .banner-slider__article
                            |Квартиры в самом центре города от застройщика. Дома построены! 
                    .banner-slider__img
                        img(src="img/sl-header.jpg")


            .swiper-slide
                .banner-slider__item
                    .banner-slider__text
                        .banner-slider__title
                            |ЖК «БРУСЧАТЫЙ ПОСЁЛОК» в Красногорске
                        .banner-slider__article
                            |Квартиры в самом центре города от застройщика. Дома построены! 
                    .banner-slider__img
                        img(src="img/sl-header.jpg")


            .swiper-slide
                .banner-slider__item
                    .banner-slider__text
                        .banner-slider__title
                            |ЖК «БРУСЧАТЫЙ ПОСЁЛОК» в Красногорске
                        .banner-slider__article
                            |Квартиры в самом центре города от застройщика. Дома построены! 
                    .banner-slider__img
                        img(src="img/sl-header.jpg")


            .swiper-slide
                .banner-slider__item
                    .banner-slider__text
                        .banner-slider__title
                            |ЖК «БРУСЧАТЫЙ ПОСЁЛОК» в Красногорске
                        .banner-slider__article
                            |Квартиры в самом центре города от застройщика. Дома построены! 
                    .banner-slider__img
                        img(src="img/sl-header.jpg")


        .swiper-button-next
        .swiper-button-prev

        .swiper-pagination


.text-content
    h1.main-title Готовые новостройки в Красногорске от застройщика

    .text-content__article.container
        p 
            b «БРУСЧАТЫЙ ПОСЕЛОК» 
            |- современный жилой комплекс, который строится в историческом центре Красногорска, в окружении великолепных лесопарковых зон, обеспечивающих не только комфортное проживание, но и прекрасную экологическую обстановку. Комплекс возводится по авторскому проекту, в разработке которого приняли участие ведущие российские архитекторы. 

        p Изумительные виды из окон, продуманные и удобные планировки квартир, благоустроенные и безопасные дворы, развитая инфраструктура столицы Подмосковья, применяемые Застройщиком новейшие строительные технологии – все это вы найдете в жилом комплексе «БРУСЧАТЫЙ ПОСЕЛОК».

.action    
    .action__inner.container
        .action__item
            .action__img
                img(src="img/an.png")
                    
            .action__article
                .action__title.action__title_lg 
                    |Хотите выгодно купить квартиру в Красногорске? 
                b Для ваc: ипотека от 9 банков, рассрочка от застройщика 0%. Принимаем материнский капитал, субсидии и жилищные сертификаты!        
        
        .action__call
            span Звоните в отдел продаж! 
            a(href="tel:74951322575") +7 (495) 132-25-75 <br>
            button(type="button").action__btn Записаться на просмотр

.infrastructure_wrapperMap
    .infrastructure_fillter
        ul.infrastructure_list
            li
                button.infrastructure_item(data-group="shop")
                    .infrastructure_icon.infrastructure_icon-shop
                        img(src="img/small_group_14.png")
                    .infrastructure_subtitle
                        |Магазины

            li
                button.infrastructure_item(data-group="med")
                    .infrastructure_icon.infrastructure_icon-med
                        img(src="img/small_group_15.png")
                    .infrastructure_subtitle Поликлиники / Больницы


            li
                button.infrastructure_item(data-group="kids")
                    .infrastructure_icon.infrastructure_icon-kids
                        img(src="img/small_group_16.png")
                    .infrastructure_subtitle Детские сады


            li
                button.infrastructure_item(data-group="shcool")
                    .infrastructure_icon.infrastructure_icon-shcool
                        img(src="img/small_group_17.png")
                    .infrastructure_subtitle Школы / ВУЗы

            li
                button.infrastructure_item(data-group="park")
                    .infrastructure_icon.infrastructure_icon-park
                        img(src="img/small_group_18.png")
                    .infrastructure_subtitle Парки 

            li
                button.infrastructure_item(data-group="food")
                    .infrastructure_icon.infrastructure_icon-food
                        img(src="img/small_group_19.png")
                    .infrastructure_subtitle Кафе / Бары

            li
                button.infrastructure_item(data-group="bank")
                    .infrastructure_icon.infrastructure_icon-bank
                        img(src="img/small_group_20.png")
                    .infrastructure_subtitle Банки

            li
                button.infrastructure_item(data-group="sport")
                    .infrastructure_icon.infrastructure_icon-sport
                        img(src="img/small_group_21.png")
                    .infrastructure_subtitle Фитнес залы

        .infrastructure_control
            button.infrastructure_btn.infrastructure_btnShow.active Показать все
            button.infrastructure_btn.infrastructure_btnHide Скрыть все
    #map(data-latlag="55.834977,37.317508" data-markers="/infrastructure/place.json" style="position:relative;")




form.recept-form
    .form-action
        .form-action__inner
            .form-action__date Только до 31 октября!
            ul.form-action__list
                li
                    |Квартиры от
                li
                    ul.form-action__price
                        li
                            |3,39
                        li
                            |млн <br>
                            |руб.       

    .recept-form__main
        .recept-form__title Запишитесь на просмотр квартиры!

        ul.recept-form__inner
            li
                span.recept-form__list-title Офис застройщика работает ежедневно, без выходных:
                ul.recept-form__list
                    li
                        |C понедельника по пятницу с 9:00 до 21:00
                    li   
                        |суббота и воскресенье с 10:00 до 17:00
                    li
                        |Записаться можно по телефону:  
                        b +7(495) 123-45-67 
                        |или онлайн
            li.form-action__inp-block
                input(type="text" placeholder="Имя").inp.recept-form__inp
                input(type="text" placeholder="Телефон").inp.recept-form__inp.phone-inp
                button(type="submit").form-btn Отправить заявку
                .checkbox-block.recept-form__check
                    input(type="checkbox" id="check" checked)
                    label(for="check") Я согласен на обработку<br> персональных данных
