extends ../layout/layout.pug
block vars
	- var title = 'Отделка';
block header
	include ../includes/header.pug
block content
	include ../includes/content-finish.pug
block footer
	include ../includes/footer.pug

              
