extends ../layout/layout.pug
block vars
	- var title = 'Выбор квартиры';
block header
	include ../includes/header.pug
block content
	include ../includes/content-flats.pug
block footer
	include ../includes/footer.pug
 
              
