extends ../layout/layout.pug
block vars
	- var title = 'Фотографии';
block header
	include ../includes/header.pug
block content
	include ../includes/content-photos.pug
block footer
	include ../includes/footer.pug
	

              
